# Project
/node_modules
README.md

# Environment
.env.development.local
.env.production.local
.env.test.local
.env.local
.env

# Log
*.log
/log
/logs

# Output
/build
/dist
/out

# OS
.DS_Store
Thumbs.db

# Temporary
*.temp
*.tmp
/.temp
/.tmp

# TypeScript
*.tsbuildinfo

# Next.js
/.next

# Git
/.git
.gitignore

# Docker
.dockerignore
Dockerfile
