# Discord
DISCORD_API_KEY="discord_api_key"
DISCORD_GUILD_ID="discord_guild_id"

# GitHub
GITHUB_API_KEY="github_api_key"
GITHUB_USERNAME="github_username"
GITHUB_REPO_TOPICS="github_repo_topic_1,github_repo_topic_2,github_repo_topic_3"

# Gravatar
GRAVATAR_API_KEY="gravatar_api_key"
GRAVATAR_PROFILE_SLUG="gravatar_profile_slug"

# WakaTime
WAKATIME_API_KEY="wakatime_api_key"

# Public
NEXT_PUBLIC_API_URL="http://localhost:3000/api/"
