# Production
/build
/dist
/out

# NodeJS
/node_modules

# ASDF
.tool-versions

# Typescript
*.tsbuildinfo

# NextJS
/.next

# Vercel
/.vercel

# Environment
# .env*
.env*.local

# macOS
.DS_Store
