# Node (JavaScript/TypeScript)
*.tsbuildinfo
node_modules

# Environment
.env
.env.*
!.env.example
!.env.test

# Build
build
dist
out

# Test
coverage

# Web (Next.js)
.next
next-env.d.ts
src/app/api/**/data.json
!src/app/api/me/data.json

# Secrets
*.key
*.local.json
*.pem
cert
certs
private

# Logs
*.log
logs

# Temporary
*.temp
*.tmp
.temp
.tmp

# OS
.DS_Store
Thumbs.db
