# Project
/node_modules

# Environment
.env.development.local
.env.production.local
.env.test.local
.env.local
.env

# Log
*.log
/log
/logs

# Output
/build
/dist
/out

# OS
.DS_Store
Thumbs.db

# Private
*.key
*.pem
/cert
/certs
/private

# Temporary
*.temp
*.tmp
/.temp
/.tmp

# TypeScript
*.tsbuildinfo

# Next.js
next-env.d.ts
/.next
